*************************************************************************************************************************
#  Uses Carver legacy files to reconstruct raw data
## Description...
Historic data is not available from IB. The 'cheapest' source is Quandl. However some maturites for some contracts have bad/missing data. Use legacycsv files (PRICE and CARRY) to reconstruct the raw maturities and use these where Quandl data is lacking

### legacycsv fiels

The legacycsv CARRY files contain all the raw data. However on each roll date although the 'new' maturity raw data price is available, the 'old' price is not. This notebook reconstructs the roll date 'old' price so that the successive maturites can be used to reconstruct each 'panama stitched' PRICE series in combination with raw files from Quandl (or IB)

### Usage
get_legacy_raw(contract, path)
function
parameters: contract: symbol
            legacypath: path to legacy files
returns: raw price series (DATETIME, PRICE_CONTRACT, PRICE)

*************************************************************************************************************************

In [1]:
# Imports
import numpy as np
import pandas as pd
legacydir = "legacycsv/"

In [2]:
# Reconstructing raw data for PRICE maturities (NB Only PRICE series is used for stitching...)
# Firstjoin CARRY and PRICE files....
contract = "AEX"
filec = legacydir + contract + "_carrydata.csv"
filep = legacydir  + contract + "_price.csv"
df_carry = pd.read_csv(filec, index_col='DATETIME', dtype={'CARRY_CONTRACT': str, 'PRICE_CONTRACT': str})
df_price = pd.read_csv(filep, index_col='DATETIME')
df_price.columns = ['PANPRICE']
df_result = pd.concat([df_carry, df_price], axis=1, join='outer')

# From df_result, select only the rows on roll date and day before roll date
df_first = df_result.reset_index().groupby('PRICE_CONTRACT').first()
df_last = df_result.reset_index().groupby('PRICE_CONTRACT').last()
df_firstlast = pd.concat([df_first, df_last])
df_firstlast.reset_index(inplace=True)
df_firstlast.set_index('DATETIME', inplace=True)
df_firstlast.sort_index(inplace=True)
df_firstlast['DELTA'] = df_firstlast.PANPRICE - df_firstlast.PRICE   # Delta is difference between raw and stitched prices
df_firstlast.head()

,PRICE_CONTRACT,PRICE,CARRY,CARRY_CONTRACT,PANPRICE,DELTA
DATETIME,,,,,,
2013-07-26,201310,370.55,368.25,201311,344.166346,-26.383654
2013-10-17,201310,383.60,382.50,201311,357.216346,-26.383654
2013-10-18,201311,384.80,385.00,201312,359.516346,-25.283654
2013-11-14,201311,395.50,395.70,201312,370.216346,-25.283654
2013-11-15,201312,396.15,395.00,201401,370.662500,-25.487500

In [3]:
# Expired maturity PRICE on roll date is reconstructed from the Current Maturity Raw PRICE and 
# change in DELTA on RollDate and on RollDate[-1]. Shifting PRICE_CONTRACT and DELTA columns 
# places the previous row's values on the current row. Hence...
df_firstlast['MATSHIFT'] = df_firstlast.PRICE_CONTRACT.shift(1)
df_firstlast['DELTASHIFT'] = df_firstlast.DELTA.shift(1)
# Perform calculation to reconstruct PRICE of expired maturity on roll date
df_firstlast['REC_PRICE'] = df_firstlast.PRICE - (df_firstlast.DELTA - df_firstlast.DELTASHIFT)
df_firstlast.head()
df_firstlast.tail()

,PRICE_CONTRACT,PRICE,CARRY,CARRY_CONTRACT,PANPRICE,DELTA,MATSHIFT,DELTASHIFT,REC_PRICE
DATETIME,,,,,,,,,
2013-07-26,201310,370.55,368.25,201311,344.166346,-26.383654,NaN,NaN,NaN
2013-10-17,201310,383.60,382.50,201311,357.216346,-26.383654,201310,-26.383654,383.600000
2013-10-18,201311,384.80,385.00,201312,359.516346,-25.283654,201310,-26.383654,383.700000
2013-11-14,201311,395.50,395.70,201312,370.216346,-25.283654,201311,-25.283654,395.500000
2013-11-15,201312,396.15,395.00,201401,370.662500,-25.487500,201311,-25.283654,396.353846

,PRICE_CONTRACT,PRICE,CARRY,CARRY_CONTRACT,PANPRICE,DELTA,MATSHIFT,DELTASHIFT,REC_PRICE
DATETIME,,,,,,,,,
2016-09-09,201609,448.300,448.35,201610,445.500,-2.80,201609,-2.80,448.300
2016-09-12,201610,449.900,449.90,201611,449.050,-0.85,201609,-2.80,447.950
2016-10-14,201610,450.300,448.80,201611,449.450,-0.85,201610,-0.85,450.300
2016-10-17,201611,446.650,446.65,201612,446.650,0.00,201610,-0.85,445.800
2016-11-11,201611,445.725,452.10,201612,445.725,0.00,201611,0.00,445.725

In [4]:
# Retain only the rolldate rows
df_recon = df_firstlast.reset_index().groupby('PRICE_CONTRACT').first()
df_recon.tail()
# These rows can now be added to the PRICE rows and individual matuties can be used where Quandl history is missing to 
# initialize Panama series
df_recon.reset_index(inplace=True)
df_recon.set_index('DATETIME', inplace=True)
dframe = df_recon[['MATSHIFT','REC_PRICE']]
dframe.columns = ['PRICE_CONTRACT','PRICE']
dframe.head()

,DATETIME,PRICE,CARRY,CARRY_CONTRACT,PANPRICE,DELTA,MATSHIFT,DELTASHIFT,REC_PRICE
PRICE_CONTRACT,,,,,,,,,
201607,2016-06-13,425.00,425.00,201608,417.85,-7.15,201606,-8.30,423.85
201608,2016-07-13,442.05,440.85,201609,438.40,-3.65,201607,-7.15,438.55
201609,2016-08-18,450.35,449.65,201610,447.55,-2.80,201608,-3.65,449.50
201610,2016-09-12,449.90,449.90,201611,449.05,-0.85,201609,-2.80,447.95
201611,2016-10-17,446.65,446.65,201612,446.65,0.00,201610,-0.85,445.80

           PRICE_CONTRACT       PRICE
DATETIME
2013-07-26         201310  383.600000
2013-10-18         201310  383.700000
2013-11-15         201311  396.353846
2013-12-18         201312  381.381250
2014-01-17         201401  406.356250

In [5]:
df_raw = pd.concat([df_carry[['PRICE_CONTRACT','PRICE']], dframe])
df_raw.sort_index(inplace=True)
df_raw.head()

           PRICE_CONTRACT   PRICE
DATETIME
2013-07-26         201310  370.55
2013-07-26         201310  383.60
2013-07-29            NaN     NaN
2013-07-30            NaN     NaN
2013-07-31            NaN     NaN

In [20]:
pd.concat([df_carry,dframe])

             CARRY CARRY_CONTRACT    PRICE PRICE_CONTRACT
DATETIME
2013-07-26     NaN         201311  370.550         201310
2013-07-29     NaN            NaN      NaN            NaN
2013-07-30     NaN            NaN      NaN            NaN
2013-07-31     NaN            NaN      NaN            NaN
2013-08-01     NaN            NaN      NaN            NaN
2013-08-02     NaN            NaN      NaN            NaN
2013-08-05     NaN            NaN      NaN            NaN
2013-08-06     NaN            NaN      NaN            NaN
2013-08-07     NaN            NaN      NaN            NaN
2013-08-08     NaN            NaN      NaN            NaN
2013-08-09     NaN            NaN      NaN            NaN
2013-08-12     NaN            NaN      NaN            NaN
2013-08-13     NaN            NaN      NaN            NaN
2013-08-14     NaN            NaN      NaN            NaN
2013-08-15     NaN         201311  375.350         201310
2013-08-16     NaN         201311  374.250         201310
2013-08-19     NaN         201311  373.850         201310
2013-08-20     NaN         201311  368.000         201310
2013-08-21     NaN         201311  368.500         201310
2013-08-22     NaN         201311  371.500         201310
2013-08-23     NaN         201311  375.500         201310
2013-08-26     NaN         201311  372.400         201310
2013-08-27     NaN         201311  364.250         201310
2013-08-28     NaN         201311  363.700         201310
2013-08-29     NaN         201311  366.200         201310
2013-08-30     NaN         201311  362.100         201310
2013-09-02  368.25         201311  367.800         201310
2013-09-03  367.35         201311  366.050         201310
2013-09-04     NaN         201311  368.900         201310
2013-09-05  365.15         201311  369.750         201310
...            ...            ...      ...            ...
2014-05-14     NaN            NaN  402.150         201405
2014-06-19     NaN            NaN  418.500         201406
2014-07-16     NaN            NaN  405.350         201407
2014-08-13     NaN            NaN  394.300         201408
2014-09-17     NaN            NaN  418.500         201409
2014-10-16     NaN            NaN  370.925         201410
2014-11-21     NaN            NaN  423.100         201411
2014-12-19     NaN            NaN  426.500         201412
2015-01-16     NaN            NaN  435.700         201501
2015-02-18     NaN            NaN  467.950         201502
2015-03-16     NaN            NaN  496.250         201503
2015-04-15     NaN            NaN  497.150         201504
2015-05-11     NaN            NaN  489.800         201505
2015-06-15     NaN            NaN  471.900         201506
2015-07-15     NaN            NaN  489.300         201507
2015-08-04     NaN            NaN  497.500         201508
2015-09-14     NaN            NaN  428.350         201509
2015-10-12     NaN            NaN  437.000         201510
2015-11-16     NaN            NaN  459.400         201511
2015-12-11     NaN            NaN  427.800         201512
2016-01-08     NaN            NaN  406.150         201601
2016-02-19     NaN            NaN  413.450         201602
2016-03-14     NaN            NaN  442.250         201603
2016-04-11     NaN            NaN  425.100         201604
2016-05-13     NaN            NaN  431.900         201605
2016-06-13     NaN            NaN  423.850         201606
2016-07-13     NaN            NaN  438.550         201607
2016-08-18     NaN            NaN  449.500         201608
2016-09-12     NaN            NaN  447.950         201609
2016-10-17     NaN            NaN  445.800         201610

[899 rows x 4 columns]

In [32]:
df_raw[df_raw['PRICE_CONTRACT'] == '201310'].head()

           PRICE_CONTRACT   PRICE
DATETIME
2013-07-26         201310  370.55
2013-07-26         201310  383.60
2013-08-15         201310  375.35
2013-08-16         201310  374.25
2013-08-19         201310  373.85

In [13]:
df_carry.size

3444