In [4]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

df

                   A         B         C         D
2000-01-01 -0.100482 -1.286149  0.796907  0.816375
2000-01-02 -0.664620 -0.204475  0.126724  0.862943
2000-01-03 -0.129743  0.416941 -0.812555  1.607431
2000-01-04 -0.630448 -0.246460 -1.180975  1.709904
2000-01-05 -0.342677  0.986181  0.144299 -0.224400
2000-01-06  1.781733  1.555703  1.032990 -0.078909
2000-01-07 -1.451316  0.752155 -0.437307 -1.520634
2000-01-08 -0.047202 -0.746741  1.414731  1.771794

In [8]:
ts1 = pd.to_datetime('2000-01-02')
ts2 = pd.to_datetime('2000-01-06')

In [9]:
df[ts1:ts2]

                   A         B         C         D
2000-01-02 -0.664620 -0.204475  0.126724  0.862943
2000-01-03 -0.129743  0.416941 -0.812555  1.607431
2000-01-04 -0.630448 -0.246460 -1.180975  1.709904
2000-01-05 -0.342677  0.986181  0.144299 -0.224400
2000-01-06  1.781733  1.555703  1.032990 -0.078909

In [10]:
%pwd

'/home/pete/notebooks/dev/jupyterlegacy'